<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.content.mapper.CourseCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.education.content.model.po.CourseCategory">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="label" property="label" />
        <result column="parentid" property="parentid" />
        <result column="is_show" property="isShow" />
        <result column="orderby" property="orderby" />
        <result column="is_leaf" property="isLeaf" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, label, parentid, is_show, orderby, is_leaf
    </sql>

    <select id="selectTreeNodes" parameterType="string" resultType="com.education.content.model.dto.CourseCategoryTreeDto">
        WITH RECURSIVE table1 AS (
            SELECT * FROM `course_category` WHERE id = #{id}
            UNION ALL
            SELECT t2.*
            FROM table1 t1,`course_category` t2
            WHERE t1.id = t2.parentid
        )
        SELECT * FROM table1 ORDER BY id;
    </select>

    <select id="getName" parameterType="string" resultType="java.lang.String">
        select `name` from `course_category` where id = #{id}
    </select>

</mapper>
